.buttons {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;
    padding: "15px";
  }
  .btn-reset {
    width: 100px;
    color: blue;
    background-color: white;
    height: 50px;
    border: 1px solid blue;
    border-radius: 5px;
    box-shadow: none;
  }
  .btn-reset:hover {
    background-color: lightblue;
    border-color: blue;
    box-shadow: none;
  }
  .btn-stop {
    width: 100px;
    color: blue;
    background-color: white;
    height: 50px;
    border: 1px solid blue;
    border-radius: 5px;
    box-shadow: none;
  }
  .btn-stop:hover {
    background-color: lightblue;
    border-color: blue;
    box-shadow: none;
  }
  
  .btn-start {
    width: 100px;
    color: blue;
    background-color: white;
    height: 50px;
    border: 1px solid blue;
    border-radius: 5px;
    box-shadow: none;
  }
  .btn-start:hover {
    background-color: lightblue;
    border-color: blue;
    box-shadow: none;
  }
  