.lbl {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: auto;
}

.item {
    margin: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

}